@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

body {
  background-color: hsl(243, 96%, 9%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(243, 23%, 35%);
    border-radius: 10px;
    border: 1px solid transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(233, 67%, 56%);
  }

  scrollbar-width: thin;
  scrollbar-color: hsl(243, 23%, 35%) transparent;
  -ms-overflow-style: auto;
}
